name: Staging Build Onprem

on:
  workflow_call:
    inputs:
      app-name:
        required: true
        type: string
      package-json-path:
        required: false
        type: string
        default: 'package.json'
      k8s-namespace:
        required: false
        type: string
        default: 'apps'
      resource-type:
        required: false
        type: string
        default: 'deployment'

jobs:
  build-onprem:
    uses: ./.github/workflows/shared-build-onprem.yaml
    with:
      app-name: ${{ inputs.app-name }}
      package-json-path: ${{ inputs.package-json-path }}
      k8s-namespace: ${{ inputs.k8s-namespace }}
      resource-type: ${{ inputs.resource-type }}
      environment: 'staging'
      harbor-username-secret: 'STG_HARBOR_REGISTRY_RW_USERNAME'
      harbor-password-secret: 'STG_HARBOR_REGISTRY_RW_PASSWORD'
    secrets:
      COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
      COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
