name: Staging Build Onprem

on:
  workflow_call:
    inputs:
      app-name:
        required: true
        type: string
      package-json-path:
        required: false
        type: string
        default: 'package.json'
      k8s-namespace:
        required: false
        type: string
        default: 'apps'
      resource-type:
        required: false
        type: string
        default: 'deployment'
      skip-k8s-check:
        required: false
        type: boolean
        default: false
        description: 'Optional: Skip the Kubernetes deployment verification step.'

jobs:
  build-onprem:
    uses: ./.github/workflows/shared-build-onprem.yaml
    with:
      app-name: ${{ inputs.app-name }}
      package-json-path: ${{ inputs.package-json-path }}
      k8s-namespace: ${{ inputs.k8s-namespace }}
      resource-type: ${{ inputs.resource-type }}
      skip-k8s-check: ${{ inputs.skip-k8s-check }}
      environment: 'staging'
      runner: 'stg-onprem'
    secrets: inherit 